:root {
  --primary-color: #51267d;
  --secondary-color: #f1eff4;
  --black-1: #000;
  --black-2: #292929;
  --text-light: grey;
  --background: #fefefe;
  --lightgray: #f6f8f9;
  --lightgray-2: #dde2e4;
  --lightgray-3: #e5e9eb;
  --lightgray-4: #eef0f2;
  --midgray-1: #5b6871;
  --midgray-2: #6e7c87;
  --darkgray-1: #1a2024;
  --darkgray-2: #252c32;
  --darkgray-3: #303940;
  --darkgray-4: #48535b;
  --darkgray-5: #48535b;
}